.athletesPage{
    width: 85%;
    display: flex;
    height: 100vh;
    display: inline;
    padding:5%;
}
.contentPage{
    display: flex;
    justify-content: center;
    background-color: #F9F9F9;
    width:100%;
}