.eventContent{
    display: inline-flex;
}
.container
{
    /* background-color: blueviolet; */
    height: 100%;    
    /* display: inline-flex; */
}
.col{
    display: inline-flex;
    width: auto;
    height: auto;
}
.row{
    /* display: inline-flex; */
    width: auto;
    height: 50%;;
    padding: 1%;
}