#hero-img {
  width: 70%;
  display: flex;
  height: 100vh;
}
#content-page {
  display: flex;
  justify-content: center;
}
.contentLog {
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F9F9F9;
}
#logMsg{
  padding-bottom: 50%;
}
#p1{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000;
}
#p2{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  font-size: 36px;
  line-height: 42px;   
  text-transform: capitalize;
  color: #000000;
} 
#lbl{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #000000;
  }
#btnSubmit{
  align-items: center;
  padding: 16px;
  width: 100%;
  background: #1A1A1A;
  color: #44DABD;
  border-radius: 8px;
}
.elementsLogin{
  text-align: left;
  align-items: center;
}
.row {
  height: 100vh;
}
@media screen and (max-width: 425px) {
  #hero-img {
    display: none;
  }
.contentLog {
    width: 100%;
  }
}